body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #211728; 
}

.ends{
    flex: 1;
}

.content{
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
}

#display{
    padding: 1rem;
    background-color: #969693;
    color: #211728;
    font-size: 2rem;
    border: 1px solid #211728;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 4rem;
    min-height: 6.5rem;
}

.gridItem{
    padding: 1rem;
    text-align: center;
    color: #BC945A;
    background-color: #836C5A;
    border: 1px solid #211728;
    user-select: none;
}

#key\={
    grid-column: 3/5;
}